<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <style>
        button {
    margin: 10px;
    }

    .w-btn {
    position: relative;
    border: none;
    display: inline-block;
    padding: 15px 25px;
    border-radius: 15px;
    font-family: "paybooc-Light", sans-serif;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    text-decoration: none;
    font-weight: 600;
    transition: 0.25s;
    }

    .w-btn-indigo {
    background-color: aliceblue;
    color: #1e6b7b;
    }
    </style>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<button class="w-btn w-btn-indigo" type="button" onclick="location.href='/board/write'">글 작성</button>
<button class="w-btn w-btn-indigo" type="button" onclick="location.href='/board/list'">글 목록</button>
</body>
</html>